<ul class="tasks">
	<li>
		<label>
			<input type="checkbox">
			<div class="checkbox"></div>
		</label>
			<span>One thing</span>
			<div class="remove_task">
				<span>remove</span>
			</div>
	</li>
	<li>
			<label>
				<input type="checkbox">
				<div class="checkbox"></div>
			</label>
			<span>Two thisg</span>
			<div class="remove_task">
				<span>remove</span>
			</div>
	</li>
	<li>
			<label>
				<input type="checkbox">
				<div class="checkbox"></div>
			</label>
			<span>Three thing</span>
			<div class="remove_task">
				<span>remove</span>
			</div>
	</li>
</ul>