* {
  padding: 0;
  margin: 0;
  bottom: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
}

.container {
  width: 100%;
  min-height: 300px;
  max-width: 900px;
  background-color: #eee;
  border-radius: 15px;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: blue;
}

.add_task {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.add_task_input {
  width: 70%;
  background: inherit;
  border: 0;
  border-bottom: 2px solid blue;
  padding: 5px;
  font-size: 18px;
  color: #060;
  transition: all .2s;
}
.add_task_input:focus {
  border-bottom: 2px solid #060;
}

.add_task_btn {
  width: 20%;
  background-color: inherit;
  border: 2px solid blue;
  color: blue;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s;
}
.add_task_btn:hover {
  border: 2px solid #060;
  color: #060;
}

.tasks {
  margin: 40px 0;
}

ul, li {
  list-style: none;
}

li {
  color: #060;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

li label {
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}

li label input {
  display: none;
}

li label .checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid blue;
  border-radius: 3px;
  transition: all .3s;
}
li label:hover .checkbox {
  border: 2px solid blue;
}
li label input:checked+.checkbox {
  background: blue;
}

.remove_task {
  color: red;
  padding: 2px 3px;
  border: 1px solid red;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s;
  margin-left: 10px;
}

.line_through {
  text-decoration: line-through;
}